html {
  font-size: 14px;
}



@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Coach Details css */
.coach-card {
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

    .coach-card img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .coach-card .card-body {
        padding: 2rem;
    }

    .coach-card .btn {
        min-width: 120px;
    }

/* Coach Input model */
.form-wrapper {
    padding: 2rem;
    border-color: black;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Edit Coach css */
body {
    background-color: #f8f9fa;
}

.edit-form-wrapper {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}